In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import csv

## 1. Look through the data

1.1 Company name

In [2]:
##### Read company names into a dictionary
def readNamesIntoDict():
    d = dict()
    input_file = csv.DictReader(open("SP_500_firms.csv"))
    for row in input_file:
        #print(row)
        d[row['Symbol']] = [row['Name'],row['Sector']]
    return d

In [43]:
namesDict = readNamesIntoDict()
namesDict

{'A': ['Agilent Technologies Inc', 'Health Care'],
 'AA': ['Alcoa Inc', 'Materials'],
 'AAL': ['American Airlines Group', 'Industrials'],
 'AAP': ['Advance Auto Parts', 'Consumer Discretionary'],
 'AAPL': ['Apple Inc.', 'Information Technology'],
 'ABBV': ['AbbVie', 'Health Care'],
 'ABC': ['AmerisourceBergen Corp', 'Health Care'],
 'ABT': ['Abbott Laboratories', 'Health Care'],
 'ACN': ['Accenture plc', 'Information Technology'],
 'ADBE': ['Adobe Systems Inc', 'Information Technology'],
 'ADI': ['Analog Devices, Inc.', 'Information Technology'],
 'ADM': ['Archer-Daniels-Midland Co', 'Consumer Staples'],
 'ADP': ['Automatic Data Processing', 'Information Technology'],
 'ADS': ['Alliance Data Systems', 'Information Technology'],
 'ADSK': ['Autodesk Inc', 'Information Technology'],
 'AEE': ['Ameren Corp', 'Utilities'],
 'AEP': ['American Electric Power', 'Utilities'],
 'AES': ['AES Corp', 'Utilities'],
 'AET': ['Aetna Inc', 'Health Care'],
 'AFL': ['AFLAC Inc', 'Financials'],
 'AGN': ['Allergan plc', 'Health Care'],
 'AIG': ['American International Group, Inc.', 'Financials'],
 'AIV': ['Apartment Investment & Mgmt', 'Financials'],
 'AIZ': ['Assurant Inc', 'Financials'],
 'AJG': ['Arthur J. Gallagher & Co.', 'Financials'],
 'AKAM': ['Akamai Technologies Inc', 'Information Technology'],
 'ALB': ['Albemarle Corp', 'Materials'],
 'ALK': ['Alaska Air Group Inc', 'Industrials'],
 'ALL': ['Allstate Corp', 'Financials'],
 'ALLE': ['Allegion', 'Industrials'],
 'ALXN': ['Alexion Pharmaceuticals', 'Health Care'],
 'AMAT': ['Applied Materials Inc', 'Information Technology'],
 'AME': ['Ametek', 'Industrials'],
 'AMG': ['Affiliated Managers Group Inc', 'Financials'],
 'AMGN': ['Amgen Inc', 'Health Care'],
 'AMP': ['Ameriprise Financial', 'Financials'],
 'AMT': ['American Tower Corp A', 'Financials'],
 'AMZN': ['Amazon.com Inc', 'Consumer Discretionary'],
 'AN': ['AutoNation Inc', 'Consumer Discretionary'],
 'ANTM': ['Anthem Inc.', 'Health Care'],
 'AON': ['Aon plc', 'Financials'],
 'APA': ['Apache Corporation', 'Energy'],
 'APC': ['Anadarko Petroleum Corp', 'Energy'],
 'APD': ['Air Products & Chemicals Inc', 'Materials'],
 'APH': ['Amphenol Corp A', 'Industrials'],
 'ATVI': ['Activision Blizzard', 'Information Technology'],
 'AVB': ['AvalonBay Communities, Inc.', 'Financials'],
 'AVGO': ['Avago Technologies', 'Information Technology'],
 'AVY': ['Avery Dennison Corp', 'Materials'],
 'AWK': ['American Water Works Company Inc', 'Utilities'],
 'AXP': ['American Express Co', 'Financials'],
 'AYI': ['Acuity Brands Inc', 'Industrials'],
 'AZO': ['AutoZone Inc', 'Consumer Discretionary'],
 'BA': ['Boeing Company', 'Industrials'],
 'BAC': ['Bank of America Corp', 'Financials'],
 'BAX': ['Baxter International Inc.', 'Health Care'],
 'BBBY': ['Bed Bath & Beyond', 'Consumer Discretionary'],
 'BBT': ['BB&T Corporation', 'Financials'],
 'BBY': ['Best Buy Co. Inc.', 'Consumer Discretionary'],
 'BCR': ['Bard (C.R.) Inc.', 'Health Care'],
 'BDX': ['Becton Dickinson', 'Health Care'],
 'BEN': ['Franklin Resources', 'Financials'],
 'BF-B': ['Brown-Forman Corporation', 'Consumer Staples'],
 'BHI': ['Baker Hughes Inc', 'Energy'],
 'BIIB': ['BIOGEN IDEC Inc.', 'Health Care'],
 'BK': ['The Bank of New York Mellon Corp.', 'Financials'],
 'BLK': ['BlackRock', 'Financials'],
 'BLL': ['Ball Corp', 'Materials'],
 'BMY': ['Bristol-Myers Squibb', 'Health Care'],
 'BRK-B': ['Berkshire Hathaway', 'Financials'],
 'BSX': ['Boston Scientific', 'Health Care'],
 'BWA': ['BorgWarner', 'Consumer Discretionary'],
 'BXP': ['Boston Properties', 'Financials'],
 'C': ['Citigroup Inc.', 'Financials'],
 'CA': ['CA, Inc.', 'Information Technology'],
 'CAG': ['ConAgra Foods Inc.', 'Consumer Staples'],
 'CAH': ['Cardinal Health Inc.', 'Health Care'],
 'CAT': ['Caterpillar Inc.', 'Industrials'],
 'CB': ['Chubb Limited', 'Financials'],
 'CBG': ['CBRE Group', 'Financials'],
 'CBS': ['CBS Corp.', 'Consumer Discretionary'],
 'CCI': ['Crown Castle International Corp.', 'Financials'],
 'CCL': ['Carnival Corp.', 'Consumer Discretionary'],
 'CELG': ['Celgene Corp.', 'Health Care'],
 'CERN': ['Cerner', 'Health Care'],
 'CF': ['CF Industries Holdings Inc', 'Materials'],
 'CFG': ['Citizens Financial Group', 'Financials'],
 'CHD': ['Church & Dwight', 'Consumer Staples'],
 'CHK': ['Chesapeake Energy', 'Energy'],
 'CHRW': ['C. H. Robinson Worldwide', 'Industrials'],
 'CI': ['CIGNA Corp.', 'Health Care'],
 'CINF': ['Cincinnati Financial', 'Financials'],
 'CL': ['Colgate-Palmolive', 'Consumer Staples'],
 'CLX': ['The Clorox Company', 'Consumer Staples'],
 'CMA': ['Comerica Inc.', 'Financials'],
 'CMCSA': ['Comcast A Corp', 'Consumer Discretionary'],
 'CME': ['CME Group Inc.', 'Financials'],
 'CMG': ['Chipotle Mexican Grill', 'Consumer Discretionary'],
 'CMI': ['Cummins Inc.', 'Industrials'],
 'CMS': ['CMS Energy', 'Utilities'],
 'CNC': ['Centene Corporation', 'Health Care'],
 'CNP': ['CenterPoint Energy', 'Utilities'],
 'COF': ['Capital One Financial', 'Financials'],
 'COG': ['Cabot Oil & Gas', 'Energy'],
 'COH': ['Coach Inc.', 'Consumer Discretionary'],
 'COL': ['Rockwell Collins', 'Industrials'],
 'COP': ['ConocoPhillips', 'Energy'],
 'COST': ['Costco Co.', 'Consumer Staples'],
 'CPB': ['Campbell Soup', 'Consumer Staples'],
 'CRM': ['Salesforce.com', 'Information Technology'],
 'CSCO': ['Cisco Systems', 'Information Technology'],
 'CSRA': ['CSRA Inc.', 'Information Technology'],
 'CSX': ['CSX Corp.', 'Industrials'],
 'CTAS': ['Cintas Corporation', 'Industrials'],
 'CTL': ['CenturyLink Inc', 'Telecommunications Services'],
 'CTSH': ['Cognizant Technology Solutions', 'Information Technology'],
 'CTXS': ['Citrix Systems', 'Information Technology'],
 'CVS': ['CVS Health', 'Consumer Staples'],
 'CVX': ['Chevron Corp.', 'Energy'],
 'CXO': ['Concho Resources', 'Energy'],
 'D': ['Dominion Resources', 'Utilities'],
 'DAL': ['Delta Air Lines', 'Industrials'],
 'DD': ['Du Pont (E.I.)', 'Materials'],
 'DE': ['Deere & Co.', 'Industrials'],
 'DFS': ['Discover Financial Services', 'Financials'],
 'DG': ['Dollar General', 'Consumer Discretionary'],
 'DGX': ['Quest Diagnostics', 'Health Care'],
 'DHI': ['D. R. Horton', 'Consumer Discretionary'],
 'DHR': ['Danaher Corp.', 'Industrials'],
 'DIS': ['The Walt Disney Company', 'Consumer Discretionary'],
 'DISCA': ['Discovery Communications-A', 'Consumer Discretionary'],
 'DISCK': ['Discovery Communications-C', 'Consumer Discretionary'],
 'DLPH': ['Delphi Automotive', 'Consumer Discretionary'],
 'DLR': ['Digital Realty Trust', 'Financials'],
 'DLTR': ['Dollar Tree', 'Consumer Discretionary'],
 'DNB': ['Dun & Bradstreet', 'Industrials'],
 'DO': ['Diamond Offshore Drilling', 'Energy'],
 'DOV': ['Dover Corp.', 'Industrials'],
 'DOW': ['Dow Chemical', 'Materials'],
 'DPS': ['Dr Pepper Snapple Group', 'Consumer Staples'],
 'DRI': ['Darden Restaurants', 'Consumer Discretionary'],
 'DTE': ['DTE Energy Co.', 'Utilities'],
 'DUK': ['Duke Energy', 'Utilities'],
 'DVA': ['DaVita Inc.', 'Health Care'],
 'DVN': ['Devon Energy Corp.', 'Energy'],
 'EA': ['Electronic Arts', 'Information Technology'],
 'EBAY': ['eBay Inc.', 'Information Technology'],
 'ECL': ['Ecolab Inc.', 'Materials'],
 'ED': ['Consolidated Edison', 'Utilities'],
 'EFX': ['Equifax Inc.', 'Financials'],
 'EIX': ["Edison Int'l", 'Utilities'],
 'EL': ['Estee Lauder Cos.', 'Consumer Staples'],
 'EMC': ['EMC Corp.', 'Information Technology'],
 'EMN': ['Eastman Chemical', 'Materials'],
 'EMR': ['Emerson Electric Company', 'Industrials'],
 'ENDP': ['Endo International', 'Health Care'],
 'EOG': ['EOG Resources', 'Energy'],
 'EQIX': ['Equinix', 'Information Technology'],
 'EQR': ['Equity Residential', 'Financials'],
 'EQT': ['EQT Corporation', 'Energy'],
 'ES': ['Eversource Energy', 'Utilities'],
 'ESRX': ['Express Scripts', 'Health Care'],
 'ESS': ['Essex Property Trust Inc', 'Financials'],
 'ETFC': ['E*Trade', 'Financials'],
 'ETN': ['Eaton Corporation', 'Industrials'],
 'ETR': ['Entergy Corp.', 'Utilities'],
 'EW': ['Edwards Lifesciences', 'Health Care'],
 'EXC': ['Exelon Corp.', 'Utilities'],
 'EXPD': ["Expeditors Int'l", 'Industrials'],
 'EXPE': ['Expedia Inc.', 'Consumer Discretionary'],
 'EXR': ['Extra Space Storage', 'Financials'],
 'F': ['Ford Motor', 'Consumer Discretionary'],
 'FAST': ['Fastenal Co', 'Industrials'],
 'FB': ['Facebook', 'Information Technology'],
 'FBHS': ['Fortune Brands Home & Security', 'Industrials'],
 'FCX': ['Freeport-McMoran Cp & Gld', 'Materials'],
 'FDX': ['FedEx Corporation', 'Industrials'],
 'FE': ['FirstEnergy Corp', 'Utilities'],
 'FFIV': ['F5 Networks', 'Information Technology'],
 'FIS': ['Fidelity National Information Services', 'Information Technology'],
 'FISV': ['Fiserv Inc', 'Information Technology'],
 'FITB': ['Fifth Third Bancorp', 'Financials'],
 'FL': ['Foot Locker Inc', 'Consumer Discretionary'],
 'FLIR': ['FLIR Systems', 'Industrials'],
 'FLR': ['Fluor Corp.', 'Industrials'],
 'FLS': ['Flowserve Corporation', 'Industrials'],
 'FMC': ['FMC Corporation', 'Materials'],
 'FOX': ['Twenty-First Century Fox Class B', 'Consumer Discretionary'],
 'FOXA': ['Twenty-First Century Fox Class A', 'Consumer Discretionary'],
 'FRT': ['Federal Realty Investment Trust', 'Financials'],
 'FSLR': ['First Solar Inc', 'Information Technology'],
 'FTI': ['FMC Technologies Inc.', 'Energy'],
 'FTR': ['Frontier Communications', 'Telecommunications Services'],
 'FTV': ['Fortive Corp', 'Industrials'],
 'GD': ['General Dynamics', 'Industrials'],
 'GE': ['General Electric', 'Industrials'],
 'GGP': ['General Growth Properties Inc.', 'Financials'],
 'GILD': ['Gilead Sciences', 'Health Care'],
 'GIS': ['General Mills', 'Consumer Staples'],
 'GLW': ['Corning Inc.', 'Industrials'],
 'GM': ['General Motors', 'Consumer Discretionary'],
 'GOOG': ['Alphabet Inc Class C', 'Information Technology'],
 'GOOGL': ['Alphabet Inc Class A', 'Information Technology'],
 'GPC': ['Genuine Parts', 'Consumer Discretionary'],
 'GPN': ['Global Payments Inc', 'Information Technology'],
 'GPS': ['Gap (The)', 'Consumer Discretionary'],
 'GRMN': ['Garmin Ltd.', 'Consumer Discretionary'],
 'GS': ['Goldman Sachs Group', 'Financials'],
 'GT': ['Goodyear Tire & Rubber', 'Consumer Discretionary'],
 'GWW': ['Grainger (W.W.) Inc.', 'Industrials'],
 'HAL': ['Halliburton Co.', 'Energy'],
 'HAR': ["Harman Int'l Industries", 'Consumer Discretionary'],
 'HAS': ['Hasbro Inc.', 'Consumer Discretionary'],
 'HBAN': ['Huntington Bancshares', 'Financials'],
 'HBI': ['Hanesbrands Inc', 'Consumer Discretionary'],
 'HCA': ['HCA Holdings', 'Health Care'],
 'HCN': ['Welltower Inc.', 'Financials'],
 'HCP': ['HCP Inc.', 'Financials'],
 'HD': ['Home Depot', 'Consumer Discretionary'],
 'HES': ['Hess Corporation', 'Energy'],
 'HIG': ['Hartford Financial Svc.Gp.', 'Financials'],
 'HOG': ['Harley-Davidson', 'Consumer Discretionary'],
 'HOLX': ['Hologic', 'Health Care'],
 'HON': ["Honeywell Int'l Inc.", 'Industrials'],
 'HOT': ['Starwood Hotels & Resorts', 'Consumer Discretionary'],
 'HP': ['Helmerich & Payne', 'Energy'],
 'HPE': ['Hewlett Packard Enterprise', 'Information Technology'],
 'HPQ': ['HP Inc.', 'Information Technology'],
 'HRB': ['Block H&R', 'Financials'],
 'HRL': ['Hormel Foods Corp.', 'Consumer Staples'],
 'HRS': ['Harris Corporation', 'Information Technology'],
 'HSIC': ['Henry Schein', 'Health Care'],
 'HST': ['Host Hotels & Resorts', 'Financials'],
 'HSY': ['The Hershey Company', 'Consumer Staples'],
 'HUM': ['Humana Inc.', 'Health Care'],
 'IBM': ['International Bus. Machines', 'Information Technology'],
 'ICE': ['Intercontinental Exchange', 'Financials'],
 'IFF': ['Intl Flavors & Fragrances', 'Materials'],
 'ILMN': ['Illumina Inc', 'Health Care'],
 'INTC': ['Intel Corp.', 'Information Technology'],
 'INTU': ['Intuit Inc.', 'Information Technology'],
 'IP': ['International Paper', 'Materials'],
 'IPG': ['Interpublic Group', 'Consumer Discretionary'],
 'IR': ['Ingersoll-Rand PLC', 'Industrials'],
 'IRM': ['Iron Mountain Incorporated', 'Industrials'],
 'ISRG': ['Intuitive Surgical Inc.', 'Health Care'],
 'ITW': ['Illinois Tool Works', 'Industrials'],
 'IVZ': ['Invesco Ltd.', 'Financials'],
 'JBHT': ['J. B. Hunt Transport Services', 'Industrials'],
 'JCI': ['Johnson Controls', 'Consumer Discretionary'],
 'JEC': ['Jacobs Engineering Group', 'Industrials'],
 'JNJ': ['Johnson & Johnson', 'Health Care'],
 'JNPR': ['Juniper Networks', 'Information Technology'],
 'JPM': ['JPMorgan Chase & Co.', 'Financials'],
 'JWN': ['Nordstrom', 'Consumer Discretionary'],
 'K': ['Kellogg Co.', 'Consumer Staples'],
 'KEY': ['KeyCorp', 'Financials'],
 'KHC': ['Kraft Heinz Co', 'Consumer Staples'],
 'KIM': ['Kimco Realty', 'Financials'],
 'KLAC': ['KLA-Tencor Corp.', 'Information Technology'],
 'KMB': ['Kimberly-Clark', 'Consumer Staples'],
 'KMI': ['Kinder Morgan', 'Energy'],
 'KMX': ['Carmax Inc', 'Consumer Discretionary'],
 'KO': ['The Coca Cola Company', 'Consumer Staples'],
 'KORS': ['Michael Kors Holdings', 'Consumer Discretionary'],
 'KR': ['Kroger Co.', 'Consumer Staples'],
 'KSS': ["Kohl's Corp.", 'Consumer Discretionary'],
 'KSU': ['Kansas City Southern', 'Industrials'],
 'L': ['Loews Corp.', 'Financials'],
 'LB': ['L Brands Inc.', 'Consumer Discretionary'],
 'LEG': ['Leggett & Platt', 'Industrials'],
 'LEN': ['Lennar Corp.', 'Consumer Discretionary'],
 'LH': ['Laboratory Corp. of America Holding', 'Health Care'],
 'LKQ': ['LKQ Corporation', 'Consumer Discretionary'],
 'LLL': ['L-3 Communications Holdings', 'Industrials'],
 'LLTC': ['Linear Technology Corp.', 'Information Technology'],
 'LLY': ['Lilly (Eli) & Co.', 'Health Care'],
 'LM': ['Legg Mason', 'Financials'],
 'LMT': ['Lockheed Martin Corp.', 'Industrials'],
 'LNC': ['Lincoln National', 'Financials'],
 'LNT': ['Alliant Energy Corp', 'Utilities'],
 'LOW': ["Lowe's Cos.", 'Consumer Discretionary'],
 'LRCX': ['Lam Research', 'Information Technology'],
 'LUK': ['Leucadia National Corp.', 'Financials'],
 'LUV': ['Southwest Airlines', 'Industrials'],
 'LVLT': ['Level 3 Communications', 'Telecommunications Services'],
 'LYB': ['LyondellBasell', 'Materials'],
 'M': ["Macy's Inc.", 'Consumer Discretionary'],
 'MA': ['Mastercard Inc.', 'Information Technology'],
 'MAC': ['Macerich', 'Financials'],
 'MAR': ["Marriott Int'l.", 'Consumer Discretionary'],
 'MAS': ['Masco Corp.', 'Industrials'],
 'MAT': ['Mattel Inc.', 'Consumer Discretionary'],
 'MCD': ["McDonald's Corp.", 'Consumer Discretionary'],
 'MCHP': ['Microchip Technology', 'Information Technology'],
 'MCK': ['McKesson Corp.', 'Health Care'],
 'MCO': ["Moody's Corp", 'Financials'],
 'MDLZ': ['Mondelez International', 'Consumer Staples'],
 'MDT': ['Medtronic plc', 'Health Care'],
 'MET': ['MetLife Inc.', 'Financials'],
 'MHK': ['Mohawk Industries', 'Consumer Discretionary'],
 'MJN': ['Mead Johnson', 'Consumer Staples'],
 'MKC': ['McCormick & Co.', 'Consumer Staples'],
 'MLM': ['Martin Marietta Materials', 'Materials'],
 'MMC': ['Marsh & McLennan', 'Financials'],
 'MMM': ['3M Company', 'Industrials'],
 'MNK': ['Mallinckrodt Plc', 'Health Care'],
 'MNST': ['Monster Beverage', 'Consumer Staples'],
 'MO': ['Altria Group Inc', 'Consumer Staples'],
 'MON': ['Monsanto Co.', 'Materials'],
 'MOS': ['The Mosaic Company', 'Materials'],
 'MPC': ['Marathon Petroleum', 'Energy'],
 'MRK': ['Merck & Co.', 'Health Care'],
 'MRO': ['Marathon Oil Corp.', 'Energy'],
 'MS': ['Morgan Stanley', 'Financials'],
 'MSFT': ['Microsoft Corp.', 'Information Technology'],
 'MSI': ['Motorola Solutions Inc.', 'Information Technology'],
 'MTB': ['M&T Bank Corp.', 'Financials'],
 'MU': ['Micron Technology', 'Information Technology'],
 'MUR': ['Murphy Oil', 'Energy'],
 'MYL': ['Mylan N.V.', 'Health Care'],
 'NAVI': ['Navient', 'Financials'],
 'NBL': ['Noble Energy Inc', 'Energy'],
 'NDAQ': ['NASDAQ OMX Group', 'Financials'],
 'NEE': ['NextEra Energy', 'Utilities'],
 'NEM': ['Newmont Mining Corp. (Hldg. Co.)', 'Materials'],
 'NFLX': ['Netflix Inc.', 'Information Technology'],
 'NFX': ['Newfield Exploration Co', 'Energy'],
 'NI': ['NiSource Inc.', 'Utilities'],
 'NKE': ['Nike', 'Consumer Discretionary'],
 'NLSN': ['Nielsen Holdings', 'Industrials'],
 'NOC': ['Northrop Grumman Corp.', 'Industrials'],
 'NOV': ['National Oilwell Varco Inc.', 'Energy'],
 'NRG': ['NRG Energy', 'Utilities'],
 'NSC': ['Norfolk Southern Corp.', 'Industrials'],
 'NTAP': ['NetApp', 'Information Technology'],
 'NTRS': ['Northern Trust Corp.', 'Financials'],
 'NUE': ['Nucor Corp.', 'Materials'],
 'NVDA': ['Nvidia Corporation', 'Information Technology'],
 'NWL': ['Newell Rubbermaid Co.', 'Consumer Discretionary'],
 'NWS': ['News Corp. Class B', 'Consumer Discretionary'],
 'NWSA': ['News Corp. Class A', 'Consumer Discretionary'],
 'O': ['Realty Income Corporation', 'Financials'],
 'OI': ['Owens-Illinois Inc', 'Materials'],
 'OKE': ['ONEOK', 'Energy'],
 'OMC': ['Omnicom Group', 'Consumer Discretionary'],
 'ORCL': ['Oracle Corp.', 'Information Technology'],
 'ORLY': ["O'Reilly Automotive", 'Consumer Discretionary'],
 'OXY': ['Occidental Petroleum', 'Energy'],
 'PAYX': ['Paychex Inc.', 'Information Technology'],
 'PBCT': ["People's United Financial", 'Financials'],
 'PBI': ['Pitney-Bowes', 'Industrials'],
 'PCAR': ['PACCAR Inc.', 'Industrials'],
 'PCG': ['PG&E Corp.', 'Utilities'],
 'PCLN': ['Priceline.com Inc', 'Consumer Discretionary'],
 'PDCO': ['Patterson Companies', 'Health Care'],
 'PEG': ['Public Serv. Enterprise Inc.', 'Utilities'],
 'PEP': ['PepsiCo Inc.', 'Consumer Staples'],
 'PFE': ['Pfizer Inc.', 'Health Care'],
 'PFG': ['Principal Financial Group', 'Financials'],
 'PG': ['Procter & Gamble', 'Consumer Staples'],
 'PGR': ['Progressive Corp.', 'Financials'],
 'PH': ['Parker-Hannifin', 'Industrials'],
 'PHM': ['Pulte Homes Inc.', 'Consumer Discretionary'],
 'PKI': ['PerkinElmer', 'Health Care'],
 'PLD': ['Prologis', 'Financials'],
 'PM': ['Philip Morris International', 'Consumer Staples'],
 'PNC': ['PNC Financial Services', 'Financials'],
 'PNR': ['Pentair Ltd.', 'Industrials'],
 'PNW': ['Pinnacle West Capital', 'Utilities'],
 'PPG': ['PPG Industries', 'Materials'],
 'PPL': ['PPL Corp.', 'Utilities'],
 'PRGO': ['Perrigo', 'Health Care'],
 'PRU': ['Prudential Financial', 'Financials'],
 'PSA': ['Public Storage', 'Financials'],
 'PSX': ['Phillips 66', 'Energy'],
 'PVH': ['PVH Corp.', 'Consumer Discretionary'],
 'PWR': ['Quanta Services Inc.', 'Industrials'],
 'PX': ['Praxair Inc.', 'Materials'],
 'PXD': ['Pioneer Natural Resources', 'Energy'],
 'PYPL': ['PayPal', 'Information Technology'],
 'QCOM': ['QUALCOMM Inc.', 'Information Technology'],
 'QRVO': ['Qorvo', 'Information Technology'],
 'R': ['Ryder System', 'Industrials'],
 'RAI': ['Reynolds American Inc.', 'Consumer Staples'],
 'RCL': ['Royal Caribbean Cruises Ltd', 'Consumer Discretionary'],
 'REGN': ['Regeneron', 'Health Care'],
 'RF': ['Regions Financial Corp.', 'Financials'],
 'RHI': ['Robert Half International', 'Industrials'],
 'RHT': ['Red Hat Inc.', 'Information Technology'],
 'RIG': ['Transocean', 'Energy'],
 'RL': ['Polo Ralph Lauren Corp.', 'Consumer Discretionary'],
 'ROK': ['Rockwell Automation Inc.', 'Industrials'],
 'ROP': ['Roper Industries', 'Industrials'],
 'ROST': ['Ross Stores', 'Consumer Discretionary'],
 'RRC': ['Range Resources Corp.', 'Energy'],
 'RSG': ['Republic Services Inc', 'Industrials'],
 'RTN': ['Raytheon Co.', 'Industrials'],
 'SBUX': ['Starbucks Corp.', 'Consumer Discretionary'],
 'SCG': ['SCANA Corp', 'Utilities'],
 'SCHW': ['Charles Schwab Corporation', 'Financials'],
 'SE': ['Spectra Energy Corp.', 'Energy'],
 'SEE': ['Sealed Air Corp.(New)', 'Materials'],
 'SHW': ['Sherwin-Williams', 'Materials'],
 'SIG': ['Signet Jewelers', 'Consumer Discretionary'],
 'SJM': ['Smucker (J.M.)', 'Consumer Staples'],
 'SLB': ['Schlumberger Ltd.', 'Energy'],
 'SLG': ['SL Green Realty', 'Financials'],
 'SNA': ['Snap-On Inc.', 'Consumer Discretionary'],
 'SNI': ['Scripps Networks Interactive Inc.', 'Consumer Discretionary'],
 'SO': ['Southern Co.', 'Utilities'],
 'SPG': ['Simon Property Group Inc', 'Financials'],

In [4]:
compNames = namesDict.keys()
compNames

dict_keys(['BAC', 'CCL', 'RSG', 'SBUX', 'SLG', 'WFC', 'HRB', 'AMAT', 'SYF', 'PM', 'JNJ', 'BWA', 'RRC', 'ETR', 'HPQ', 'DTE', 'TWX', 'MU', 'MLM', 'LUV', 'FTI', 'CMS', 'EMR', 'BEN', 'COG', 'KMI', 'MMM', 'UNH', 'EMN', 'TSCO', 'NRG', 'D', 'CMI', 'CSX', 'T', 'PSA', 'CI', 'TMK', 'BAX', 'ABBV', 'TIF', 'PLD', 'PCAR', 'VMC', 'RF', 'QCOM', 'FAST', 'RTN', 'HRL', 'VNO', 'WLTW', 'AEP', 'EQR', 'LEG', 'CMG', 'DFS', 'HP', 'GOOG', 'LEN', 'PBCT', 'STI', 'TXT', 'CHRW', 'DLPH', 'GPC', 'MRO', 'SWK', 'AMG', 'DIS', 'CSCO', 'ABC', 'AFL', 'MET', 'AA', 'MCK', 'PYPL', 'DVN', 'FOXA', 'TSO', 'COF', 'DOW', 'SEE', 'EIX', 'FRT', 'UHS', 'VIAB', 'NSC', 'NOV', 'SWKS', 'PCLN', 'TGNA', 'GWW', 'STX', 'CXO', 'WU', 'PEG', 'HCP', 'TDC', 'PSX', 'URI', 'NEM', 'AIZ', 'EA', 'HSY', 'CBS', 'AKAM', 'EXR', 'AEE', 'OXY', 'V', 'STT', 'SIG', 'SO', 'HD', 'TSS', 'FLR', 'PNR', 'ALB', 'CLX', 'KSU', 'GIS', 'AMP', 'FB', 'EMC', 'WHR', 'AES', 'SYK', 'ATVI', 'PRGO', 'IPG', 'C', 'XOM', 'XLNX', 'SLB', 'LM', 'EW', 'DHR', 'YUM', 'VZ', 'XYL', 'SNA', 'PKI', 'HSIC', 'CME', 'GM', 'AN', 'WBA', 'MUR', 'CTL', 'VLO', 'GE', 'XRX', 'HIG', 'PNC', 'SYY', 'TDG', 'RL', 'CVS', 'CB', 'ROP', 'MAC', 'CAG', 'EBAY', 'PGR', 'BHI', 'BRK-B', 'BK', 'BBT', 'PCG', 'GLW', 'AJG', 'VRSK', 'RHI', 'NAVI', 'ZBH', 'ESRX', 'MA', 'HBAN', 'ETFC', 'GGP', 'ROST', 'CNP', 'COL', 'UAL', 'BXP', 'KIM', 'KSS', 'APA', 'STZ', 'SRE', 'NWSA', 'DISCA', 'DVA', 'MPC', 'MDLZ', 'WYN', 'NFLX', 'TAP', 'AMT', 'MNST', 'CERN', 'MCO', 'TJX', 'MAR', 'TYC', 'BBY', 'ADS', 'MON', 'MS', 'VFC', 'FISV', 'LKQ', 'TMO', 'WDC', 'ORCL', 'FOX', 'SRCL', 'PPL', 'IFF', 'MHK', 'FDX', 'APH', 'BCR', 'TRIP', 'M', 'NBL', 'FSLR', 'ALXN', 'VAR', 'HOT', 'ALLE', 'JWN', 'KLAC', 'FBHS', 'TEL', 'MSFT', 'DO', 'K', 'ILMN', 'FTV', 'AXP', 'HUM', 'FCX', 'NEE', 'GILD', 'PPG', 'WY', 'SJM', 'BSX', 'EXPD', 'OKE', 'AAL', 'CCI', 'HAR', 'LYB', 'ALL', 'WRK', 'PVH', 'KEY', 'A', 'XEL', 'PNW', 'CELG', 'PHM', 'DG', 'MYL', 'DOV', 'MJN', 'PXD', 'WMB', 'ULTA', 'HAS', 'FMC', 'KORS', 'CNC', 'DD', 'BBBY', 'PRU', 'MCD', 'UPS', 'RCL', 'CMCSA', 'HAL', 'CBG', 'TXN', 'ZION', 'EFX', 'EQIX', 'RAI', 'CRM', 'LNC', 'NOC', 'TGT', 'APC', 'ED', 'AGN', 'DNB', 'NTAP', 'NWS', 'CSRA', 'CHK', 'KHC', 'GS', 'MNK', 'DGX', 'SCG', 'ECL', 'R', 'INTC', 'JCI', 'WAT', 'UNP', 'FE', 'HCA', 'IP', 'JNPR', 'MTB', 'KMX', 'SHW', 'BIIB', 'LLY', 'RHT', 'ORLY', 'APD', 'CTAS', 'TROW', 'AZO', 'DE', 'GT', 'SPGI', 'ITW', 'AET', 'ADBE', 'LLTC', 'DLR', 'ROK', 'JBHT', 'WM', 'NLSN', 'SPLS', 'FLIR', 'IBM', 'HBI', 'KR', 'XEC', 'MAT', 'CVX', 'ICE', 'CL', 'O', 'LUK', 'AYI', 'AMZN', 'ZTS', 'KO', 'MSI', 'DISCK', 'CA', 'EL', 'GOOGL', 'PWR', 'ESS', 'HOG', 'LH', 'MDT', 'RIG', 'VRSN', 'WFM', 'CFG', 'DUK', 'COH', 'TSN', 'PBI', 'BMY', 'FIS', 'UTX', 'BA', 'GD', 'EOG', 'CPB', 'MO', 'LRCX', 'SCHW', 'EXC', 'CTXS', 'NTRS', 'EXPE', 'EQT', 'CAH', 'IVZ', 'NI', 'L', 'UDR', 'FLS', 'AVB', 'UNM', 'PDCO', 'AWK', 'HES', 'ADP', 'AIV', 'GRMN', 'PH', 'PX', 'HST', 'MMC', 'XRAY', 'ETN', 'BF-B', 'ALK', 'QRVO', 'XL', 'CF', 'FFIV', 'SPG', 'FITB', 'AMGN', 'CMA', 'PEP', 'NUE', 'UA', 'CAT', 'MAS', 'LVLT', 'REGN', 'WYNN', 'IR', 'FL', 'PG', 'PFG', 'ISRG', 'JPM', 'NWL', 'VTR', 'HOLX', 'HCN', 'VRTX', 'ANTM', 'HPE', 'ADSK', 'ADI', 'F', 'AAPL', 'PAYX', 'COST', 'JEC', 'NDAQ', 'OI', 'AAP', 'MCHP', 'USB', 'IRM', 'LNT', 'DPS', 'LMT', 'ES', 'LLL', 'NVDA', 'MKC', 'CINF', 'BDX', 'FTR', 'SYMC', 'MOS', 'DRI', 'ACN', 'CTSH', 'SE', 'COP', 'OMC', 'ENDP', 'STJ', 'LB', 'CHD', 'ADM', 'YHOO', 'AVY', 'ABT', 'AVGO', 'GPN', 'SWN', 'DHI', 'MRK', 'SNI', 'NKE', 'HON', 'NFX', 'INTU', 'BLL', 'AIG', 'BLK', 'DAL', 'DLTR', 'PFE', 'URBN', 'AON', 'TRV', 'AME', 'HRS', 'GPS', 'LOW', 'WEC', 'KMB', 'WMT'])

In [5]:
print(len(namesDict)) # we have 504 companys

504

1.2 Company stock prices

In [6]:
##### Prices into standarad Python data structures

# Read prices into dictionary of lists

def readPricesIntoDict():
    input_file = csv.DictReader(open('SP_500_close_2015.csv', 'r')) 
    d = dict()
    for row in input_file:
        for column, value in row.items():
            d.setdefault(column, []).append(value)
    return d


prices = readPricesIntoDict()

In [45]:
prices['A']

['39.911784999999995',
 '39.163928999999996',
 '38.553838',
 '39.065528',
 '40.236509000000005',
 '39.941303999999995',
 '39.468976',
 '38.917924',
 '38.435757',
 '37.402535',
 '37.638701',
 '37.323815',
 '37.550139',
 '39.016328',
 '38.189753',
 '38.524319',
 '38.13071',
 '37.392696',
 '37.845344',
 '37.166373',
 '38.071668',
 '38.986805',
 '38.484957',
 '38.898243',
 '38.711281',
 '38.416076000000004',
 '39.036004999999996',
 '38.701443',
 '39.380414',
 '39.508337',
 '39.872423',
 '40.876121999999995',
 '40.492356',
 '41.27957',
 '41.063084',
 '41.387812',
 '41.525574',
 '41.683017',
 '41.535413',
 '42.017583',
 '41.584613',
 '41.32877',
 '41.545255',
 '40.866279999999996',
 '41.072927',
 '39.980666',
 '40.197146999999994',
 '40.443152000000005',
 '40.216828',
 '41.141808000000005',
 '40.915484',
 '41.446851',
 '41.535413',
 '41.535413',
 '41.525574',
 '40.433313',
 '40.157789',
 '40.049547',
 '40.55263',
 '41.15436',
 '40.986663',
 '40.828833',
 '41.479884000000006',
 '41.361512',
 '41.864596',
 '41.687036',
 '41.913921',
 '42.959547',
 '42.456463',
 '42.486055',
 '42.791854',
 '42.545243',
 '42.397275',
 '42.604427',
 '42.308495',
 '42.130936',
 '42.042156',
 '41.913921',
 '41.410833000000004',
 '41.608123',
 '41.391104',
 '40.809103',
 '41.262869',
 '41.371375',
 '41.026121999999994',
 '41.026121999999994',
 '41.233274',
 '41.923784000000005',
 '42.042156',
 '41.341783',
 '41.243140000000004',
 '41.479884000000006',
 '41.470021',
 '42.052021999999994',
 '41.795545000000004',
 '42.032293',
 '41.746224',
 '41.923784000000005',
 '41.489751',
 '42.032293',
 '41.183952000000005',
 '40.631543',
 '40.365204',
 '40.55263',
 '40.542763',
 '39.990358',
 '39.763477',
 '39.408357',
 '39.576051',
 '39.970628999999995',
 '39.980492',
 '39.299848',
 '38.984187',
 '39.250527000000005',
 '39.063101',
 '39.359035999999996',
 '38.954595',
 '39.270255999999996',
 '39.063101',
 '39.645101000000004',
 '39.507',
 '39.576225',
 '38.31042',
 '38.152194',
 '38.82465',
 '39.141104999999996',
 '38.923544',
 '39.348776',
 '38.320307',
 '38.48842',
 '38.963101',
 '39.516889',
 '40.041014000000004',
 '39.685006',
 '39.892676',
 '39.507001',
 '39.615782',
 '39.131214',
 '39.882789',
 '39.803674',
 '38.874099',
 '39.170771',
 '40.001457',
 '39.952011999999996',
 '40.515691',
 '40.495912',
 '40.545357',
 '40.16957',
 '40.268463',
 '39.675114',
 '39.546559',
 '40.021236',
 '38.982876',
 '38.458754',
 '38.132415',
 '38.221418',
 '38.389531',
 '38.587314',
 '37.97419',
 '37.094056',
 '35.828251',
 '34.295439',
 '33.978988',
 '35.225014',
 '36.233703999999996',
 '36.105144',
 '35.907365000000006',
 '34.364663',
 '35.136012',
 '35.353574',
 '34.671226000000004',
 '35.808471999999995',
 '35.145903000000004',
 '35.462355',
 '35.561244',
 '35.155791',
 '35.749140000000004',
 '36.115035999999996',
 '35.996367',
 '35.343686',
 '35.294238',
 '34.661335',
 '34.562446',
 '34.16688',
 '34.166883',
 '33.095757',
 '33.462719',
 '34.04787',
 '33.462719',
 '34.385071999999994',
 '35.049568',
 '34.613184999999994',
 '35.247925',
 '35.714059999999996',
 '35.932253',
 '35.694228',
 '35.337185999999996',
 '34.76195',
 '35.287597',
 '35.485951',
 '35.932253',
 '36.021514',
 '35.604966999999995',
 '35.793403999999995',
 '36.805021999999994',
 '36.527324',
 '36.745514',
 '37.211653000000005',
 '37.390174',
 '37.449678000000006',
 '38.272859000000004',
 '37.955489',
 '38.024913',
 '37.985240999999995',
 '37.826556',
 '37.608363',
 '37.667871000000005',
 '37.350501',
 '37.1819',
 '36.467816',
 '37.023215',
 '38.064585',
 '39.016695',
 '38.183597999999996',
 '38.957187',
 '39.701023',
 '40.335763',
 '41.000259',
 '41.625082',
 '41.476313',
 '40.722561',
 '40.087817',
 '39.820040000000006',
 '40.762229',
 '40.365519',
 '40.831654',
 '40.643217',
 '40.910998',
 '39.859708000000005',
 '39.919216',
 '40.474615',
 '41.089519',
 '40.444859',
 '39.770447999999995',
 '40.494452',
 '40.881246000000004',
 '41.426725',
 '41.793683',
 '41.436640999999995',
 '42.011876',
 '41.823434999999996',
 '41.579786']

In [8]:
len(prices)

497

In [9]:
##### Prices into pandas

# Open data with pandas 
filename = 'SP_500_close_2015.csv'
priceData = pd.read_csv(filename,index_col = 0)

print(type(priceData))
print(priceData.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ATVI', 'AYI', 'ADBE', 'AAP', 'AES', 'AET',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZBH', 'ZION', 'ZTS'],
      dtype='object', length=496)

In [10]:
str(priceData)

'                   MMM        ABT       ABBV         ACN       ATVI  \\\nDate                                                                  \n2015-01-02  156.678596  43.160459  61.986410   86.129228  19.765196   \n2015-01-05  153.145069  43.170070  60.819874   84.674997  19.490271   \n2015-01-06  151.511999  42.679830  60.518833   84.064223  19.126976   \n2015-01-07  152.610267  43.025880  62.964797   85.828689  18.714587   \n2015-01-08  156.267949  43.910238  63.623323   87.137495  18.901144   \n2015-01-09  154.348374  43.448835  61.882926   87.040548  18.557487   \n2015-01-12  153.507977  43.814114  61.864114   86.778790  18.518213   \n2015-01-13  153.393366  43.108681  60.082211   87.089025  18.223648   \n2015-01-14  152.648461  42.789785  60.376037   86.071061  18.586944   \n2015-01-15  152.476567  42.470893  59.608302   85.479673  18.213829   \n2015-01-16  154.711282  42.992720  61.172204   86.177705  19.883022   \n2015-01-20  154.653983  42.731807  60.139082   85.915947  19.853565   \n2015-01-21  155.226979  42.577191  59.428218   85.644484  19.735741   \n2015-01-22  158.426262  42.992720  59.693606   86.769093  20.216860   \n2015-01-23  156.640402  42.383922  59.172307   86.497638  20.275773   \n2015-01-26  156.850505  42.664163  59.551435   86.361910  20.462330   \n2015-01-27  156.267949  42.209979  59.807343   83.531010  20.099034   \n2015-01-28  156.563999  41.949065  58.622570   81.785930  20.295411   \n2015-01-29  158.655469  43.736803  59.826300   83.026872  20.373961   \n2015-01-30  154.997787  43.253630  57.200842   81.465997  20.521242   \n2015-02-02  157.022399  43.707814  57.532581   83.211077  20.747073   \n2015-02-03  158.474015  44.287624  58.433009   85.237302  21.267469   \n2015-02-04  157.394851  43.649832  53.940348   84.674997  21.130007   \n2015-02-05  159.056570  44.113681  54.963994   85.770522  21.424569   \n2015-02-06  158.598171  43.968728  53.930872   85.460287  21.709315   \n2015-02-09  157.423501  43.021710  52.584968   84.694391  21.640584   \n2015-02-10  158.359419  43.408246  53.921392   84.849505  21.876234   \n2015-02-11  158.056712  43.417911  53.731827   85.276082  22.249347   \n2015-02-12  159.430875  43.698152  54.073042   86.371600  22.524273   \n2015-02-13  159.459702  44.538872  55.020861   87.050245  22.691193   \n...                ...        ...        ...         ...        ...   \n2015-11-18  154.266143  44.959495  59.261408  106.842602  36.572384   \n2015-11-19  155.236499  44.890780  58.833876  106.248373  36.711253   \n2015-11-20  155.795178  45.165641  59.378006  106.931741  37.207217   \n2015-11-23  155.501129  44.606101  59.416873  106.802986  37.048509   \n2015-11-24  154.618999  44.615920  59.397439  106.317700  36.542627   \n2015-11-25  154.501385  44.576653  58.581247  106.070104  36.929478   \n2015-11-27  154.854240  44.586468  58.299465  106.426643  36.939400   \n2015-11-30  153.472222  44.095644  56.501900  106.188953  37.356008   \n2015-12-01  153.785863  44.625735  57.347241  107.090198  38.258662   \n2015-12-02  152.609684  44.390141  56.084087  106.555390  38.070197   \n2015-12-03  151.315891  43.339778  54.529432  104.911357  37.316330   \n2015-12-04  155.079671  44.468671  55.559391  108.050871  38.576079   \n2015-12-07  154.618999  44.723902  54.675182  107.892414  38.377692   \n2015-12-08  153.678046  44.714083  55.063843  107.862704  39.042286   \n2015-12-09  152.952743  44.134911  54.441983  106.258279  38.278501   \n2015-12-10  154.393568  44.478490  54.199068  106.565296  38.070197   \n2015-12-11  151.756956  43.545923  52.508386  104.287418  36.919561   \n2015-12-14  154.501385  43.987666  53.868704  105.337222  37.653585   \n2015-12-15  145.189940  44.753350  54.791780  105.693761  38.397531   \n2015-12-16  146.973809  45.204907  55.996637  108.031067  38.893495   \n2015-12-17  145.895651  44.429404  54.782065  102.267034  38.556240   \n2015-12-18  144.003949  42.898035  54.160205  100.949821  38.159471   \n2015-12-21  144.552832  43.231796  54.607166  101.999626  38.427292   \n2015-12-22  146.013264  43.663720  55.957770  102.762226  38.893495   \n2015-12-23  148.159800  44.272341  56.919713  103.415875  38.526483   \n2015-12-24  148.189203  44.272341  56.803111  103.227707  38.605835   \n2015-12-28  148.218606  44.203626  57.084893  103.079148  38.714948   \n2015-12-29  149.855459  44.979129  57.765054  104.307222  39.260511   \n2015-12-30  148.894914  44.439223  58.105133  104.842030  39.111721   \n2015-12-31  147.650116  44.085829  57.561007  103.495108  38.397531   \n\n                   AYI       ADBE         AAP        AES         AET  \\\nDate                                                                   \n2015-01-02  139.234407  72.339996  158.132353  12.860543   87.354435   \n2015-01-05  135.889914  71.980003  156.047994  12.494440   86.173965   \n2015-01-06  134.187800  70.529999  155.938290  12.212822   86.301853   \n2015-01-07  136.566769  71.110001  159.289228  12.231597   88.033197   \n2015-01-08  141.344618  72.919998  160.685446  12.419342   90.885990   \n2015-01-09  150.800772  71.839996  159.867666  12.109562   89.557968   \n2015-01-12  152.383430  71.120003  158.501350  12.090788   88.062708   \n2015-01-13  152.254040  70.589996  153.345296  12.222210   89.108379   \n2015-01-14  150.173675  69.989998  150.423206  12.334857   88.674327   \n2015-01-15  148.182906  70.290001  147.620787  12.297308   89.276078   \n2015-01-16  150.075787  71.730003  149.595442  12.550763   91.308217   \n2015-01-20  149.438184  71.489998  152.248272  12.287920   90.736066   \n2015-01-21  149.418255  71.540001  152.936413  12.391180   93.458735   \n2015-01-22  150.085744  73.480003  156.117797  12.128337   94.810209   \n2015-01-23  151.301176  74.059998  155.359852  11.903043   93.202256   \n2015-01-26  153.512862  72.739998  158.800544  11.949979   92.965497   \n2015-01-27  152.715855  71.459999  158.601087  11.949979   92.432799   \n2015-01-28  151.111885  70.250000  158.870363  11.565101   91.436463   \n2015-01-29  151.350991  71.639999  159.827765  11.677748   92.344019   \n2015-01-30  149.328596  70.129997  158.571169  11.564189   90.578226   \n2015-02-02  150.972410  71.110001  155.549342  11.696675   90.972818   \n2015-02-03  153.702153  71.919998  156.646382  11.810235   92.906310   \n2015-02-04  152.397062  72.279999  156.047994  11.848089   94.751023   \n2015-02-05  153.482976  73.099998  159.728044  11.990038   95.283714   \n2015-02-06  153.662309  72.540001  161.563078  11.422238   93.261442   \n2015-02-09  157.079455  72.330002  160.306482  11.214046   92.472259   \n2015-02-10  159.918787  72.760002  162.460644  11.507408   94.455077   \n2015-02-11  160.287396  73.010002  161.952025  11.289752   95.155474   \n2015-02-12  162.010912  74.589996  151.011611  11.223508   95.767092   \n2015-02-13  162.787990  76.510002  149.755015  11.223508   94.820076   \n...                ...        ...         ...        ...         ...   \n2015-11-18  224.862520  91.269997  164.179736   9.435575  106.131805   \n2015-11-19  225.032241  91.760002  162.113005   9.280416   99.209301   \n2015-11-20  225.990681  91.809998  162.562305   9.377391  103.718364   \n2015-11-23  227.957468  91.959999  162.362610   9.367693  104.989640   \n2015-11-24  225.791011  92.000000  162.931715   9.600431  105.357122   \n2015-11-25  229.255350  91.769997  164.039959   9.581036  103.241632   \n2015-11-27  231.212144  92.169998  164.579097   9.687707  103.350883   \n2015-11-30  230.503311  91.459999  162.472436   9.687707  102.049812   \n2015-12-01  232.839489  92.550003  162.083054   9.678010  106.767443   \n2015-12-02  229.365171  92.019997  157.680030   9.309509  106.201328   \n2015-12-03  225.152055  89.910004  154.535022   9.231930  101.026832   \n2015-12-04  226.350094  92.580002  155.583363   9.037981  104.602299   \n2015-12-07  227.258613  89.599998  150.980659   8.931310  102.913886   \n2015-12-08  230.623110  91.720001  149.642784   8.921613  103.221771   \n2015-12-09  229.704613  89.559998  152.967515   8.979797  103.162183   \n2015-12-10  231.681378  88.959999  151.519798   8.999192  104.105706   \n2015-12-11  233.678115  91.419998  148.614415   8.698573  104.195097   \n2015-12-14  232.589897  93.260002  147.376372   8.562809  105.079031   \n2015-12-15  232.969282  94.019997  155.922821   8.970100  106.290711   \n2015-12-16  234.456841  95.559998  160.565471   9.086468  108.018859   \n2015-12-17  232.320333  94.199997  152.827737   8.921613  108.118176   \n2015-12-18  232.350283  91.309998  149.333277   8.785849  107.730835   \n2015-12-21  232.739646  91.620003  149.413137   8.882823  108.972316   \n2015-12-22  237.621667  93.820000  147.655229   9.008889  108.167839   \n2015-12-23  239.748197  94.699997  148.883770   9.251324  109.329864   \n2015-12-24  239.688297  94.300003  148.953695   9.290114  108.882926   \n2015-12-28  239.169142  94.199997  150.372014   9.173745  108.207559   \n2015-12-29  236.393678  95.330002  152.020057   9.319206  109.458975   \n2015-12-30  235.545059  95.279999  151.221000   9.212535  108.187699   \n2015-12-31  233.418545  93.940002  150.332053   9.280416  107.383221   \n\n              ...            XEL        XRX       XLNX         XL        XYL  \\\nDate          ...                                                              \n2015-01-02    ...      33.927597  13.191375  41.513829  32.998169  37.072501   \n2015-01-05    ...      33.542483  12.903563  40.752108  33.199318  34.765202   \n2015-01-06    ...      33.720953  12.730876  40.161775  33.362155  34.560759   \n2015-01-07    ...      34.012134  12.893969  40.180818  33.381309  34.833350   \n2015-01-08    ...      34.406643  13.248937  41.075840  33.927287  35.096207   \n2015-01-09    ...      33.983956  13.172187  41.037753  34.367904  34.434198   \n2015-01-12    ...      33.683380  13.037875  40.437900  34.042233  33.684569   \n2015-01-13    ...      33.955778  13.105031  39.847563  34.080548  33.762455   \n2015-01-14    ...      34.256355  13.162594  39.390530  33.774030  33.548274   \n2015-01-15    ...      34.556931  12.846001  39.076322  33.572881  33.314626   \n2015-01-16    ...      34.772970  13.047469  39.247710  34.032652  33.558012   \n2015-01-20    ...      35.007796  12.951531  39.095365  33.477097  33.489864   \n2015-01-21    ...      35.298981  13.028281  39.523831  33.390890  34.171341   \n2015-01-22    ...      35.242621  13.402437  37.095844  34.291274  34.395259   \n2015-01-23    ...      35.468052  13.239343  37.400532  33.936868  34.239488   \n2015-01-26    ...      35.374123  13.181781  37.124411  34.138017  34.258960   \n2015-01-27    ...      35.439874  13.018687  37.562400  34.166752  33.820868   \n2015-01-28    ...      35.176871  12.702094  36.914936  33.505832  33.353565   \n2015-01-29    ...      35.796810  13.009094  37.124411  33.534566  33.256212   \n2015-01-30    ...      35.252013  12.634939  36.734029  33.036484  33.197798   \n2015-02-02    ...      35.289586  12.836407  37.252085  33.726138  33.820868   \n2015-02-03    ...      35.355337  12.884376  37.712579  33.659089  34.453669   \n2015-02-04    ...      34.942045  12.865188  38.221040  34.109282  33.966898   \n2015-02-05    ...      35.280194  12.913157  37.962012  34.492423  33.937693   \n2015-02-06    ...      33.542483  12.884376  37.798922  34.291274  34.258960   \n2015-02-09    ...      33.194942  12.855594  37.904449  34.195490  34.181078   \n2015-02-10    ...      34.049707  12.941937  38.528036  34.243382  34.453669   \n2015-02-11    ...      33.392195  12.922751  38.307383  34.214647  34.317374   \n2015-02-12    ...      33.373408  13.018687  39.333902  34.300855  34.667849   \n2015-02-13    ...      32.875579  13.210563  39.823176  34.233805  35.245501   \n...           ...            ...        ...        ...        ...        ...   \n2015-11-18    ...      34.439824  10.303695  47.711450  36.336183  37.056648   \n2015-11-19    ...      34.536513  10.196161  47.926982  36.996841  37.264386   \n2015-11-20    ...      34.671874  10.225488  47.946576  37.298021  37.096218   \n2015-11-23    ...      34.391481  10.508986  47.613478  37.123141  37.145679   \n2015-11-24    ...      34.546180  10.372125  48.230691  37.093995  37.076433   \n2015-11-25    ...      34.323801  10.352574  48.015155  36.763666  37.254495   \n2015-11-27    ...      34.459162  10.391677  48.230691  36.938546  37.175358   \n2015-11-30    ...      34.478499  10.313471  48.681352  37.093995  36.918156   \n2015-12-01    ...      34.778230  10.450331  49.220191  37.657495  37.234710   \n2015-12-02    ...      34.053079  10.137506  48.005360  37.511764  36.552141   \n2015-12-03    ...      33.279582  10.127730  47.486119  37.200867  36.344403   \n2015-12-04    ...      33.811362  10.245039  47.975970  38.026688  37.244604   \n2015-12-07    ...      34.101422   9.941990  47.554698  38.026688  36.512571   \n2015-12-08    ...      34.043408   9.893111  47.368553  37.851807  35.889353   \n2015-12-09    ...      34.111089   9.795353  46.898296  37.356315  35.869568   \n2015-12-10    ...      33.637326   9.941990  46.986470  37.103709  36.304833   \n2015-12-11    ...      33.782354   9.814904  46.388851  36.547006  35.830002   \n2015-12-14    ...      34.120759   9.638940  46.349666  36.810708  36.245477   \n2015-12-15    ...      34.391481   9.795353  46.976674  37.377178  36.304833   \n2015-12-16    ...      35.213317  10.039748  46.996269  37.552979  37.056648   \n2015-12-17    ...      35.193983   9.961541  46.143926  37.494378  36.067415   \n2015-12-18    ...      34.420486   9.922438  45.575701  36.781409  35.454092   \n2015-12-21    ...      34.236782  10.069076  46.339867  37.015811  35.750861   \n2015-12-22    ...      34.470949  10.460107  46.467229  38.187813  36.106986   \n2015-12-23    ...      34.978302  10.577417  46.908096  38.539415  36.730203   \n2015-12-24    ...      34.870979  10.636072  46.878702  38.910551  36.670848   \n2015-12-28    ...      35.261251  10.411228  46.829718  38.930084  36.542246   \n2015-12-29    ...      35.339308  10.529314  47.202005  39.467252  36.700524   \n2015-12-30    ...      35.514931  10.548996  46.868907  38.891017  36.473001   \n2015-12-31    ...      35.036844  10.460431  46.016568  38.265948  36.106986   \n\n                 YHOO        YUM         ZBH       ZION        ZTS  \nDate                                                                \n2015-01-02  50.169998  69.542301  110.963875  27.853656  42.723658  \n2015-01-05  49.130001  68.129346  115.103219  26.810004  42.467175  \n2015-01-06  49.209999  67.293113  114.127520  25.786046  42.052863  \n2015-01-07  48.590000  69.523080  116.965922  26.032190  42.920947  \n2015-01-08  50.230000  70.734178  118.207726  26.396482  43.581878  \n2015-01-09  49.720001  70.609226  116.502708  25.658050  43.650930  \n2015-01-12  48.799999  70.080574  116.778663  25.264220  42.832165  \n2015-01-13  48.299999  69.792213  117.034910  24.831006  42.230427  \n2015-01-14  47.509998  69.898542  115.487586  24.407640  42.447446  \n2015-01-15  46.230000  69.067221  113.319363  24.112266  42.358664  \n2015-01-16  46.470001  70.014542  115.310185  24.397794  43.621338  \n2015-01-20  47.630001  68.777230  114.216216  24.013808  43.051080  \n2015-01-21  48.180000  69.115557  114.206359  24.072884  43.733017  \n2015-01-22  48.889999  71.329189  116.640686  24.880236  43.989978  \n2015-01-23  48.950001  71.638517  115.290477  24.427330  43.604535  \n2015-01-26  49.439999  71.764179  115.379174  24.732550  43.574887  \n2015-01-27  47.990002  70.981194  114.551310  24.328872  42.794116  \n2015-01-28  46.459999  70.468870  112.846292  23.501830  42.606337  \n2015-01-29  43.730000  71.793177  110.894886  23.875968  42.813882  \n2015-01-30  43.990002  69.869543  110.480954  23.590440  42.230775  \n2015-02-02  44.689999  70.304541  112.333806  24.240262  42.873183  \n2015-02-03  44.700001  71.155191  114.975099  24.909772  42.991780  \n2015-02-04  44.049999  71.193858  113.851557  24.437176  42.952246  \n2015-02-05  43.549999  72.692163  115.408739  25.303604  42.892950  \n2015-02-06  42.939999  71.464519  114.472463  25.687588  43.149910  \n2015-02-09  42.570000  70.671866  113.112390  25.402060  42.369139  \n2015-02-10  43.070000  71.609518  115.379174  25.274066  43.396989  \n2015-02-11  42.959999  71.522516  115.211631  25.116534  45.235259  \n2015-02-12  43.930000  72.305508  116.443577  25.864812  45.255026  \n2015-02-13  44.419998  72.199176  117.606535  25.914040  44.928880  \n...               ...        ...         ...        ...        ...  \n2015-11-18  32.980000  69.878893  104.091148  29.980703  46.880684  \n2015-11-19  32.630001  70.429118  103.198681  29.693000  46.602461  \n2015-11-20  33.110001  71.490273  102.871442  29.693000  47.019795  \n2015-11-23  33.360001  71.421494  101.988894  29.633476  46.662078  \n2015-11-24  32.959999  71.116899  101.066681  29.712842  46.632270  \n2015-11-25  33.160000  71.323233  100.441958  29.702921  46.672017  \n2015-11-27  32.939999  71.686779  100.154385  29.851733  46.781320  \n2015-11-30  33.810001  71.244635  100.164303  29.722762  46.403729  \n2015-12-01  33.709999  73.180258  101.859986  30.169199  46.711760  \n2015-12-02  35.650002  73.642050  101.403838  29.702921  46.075821  \n2015-12-03  34.340000  71.853811   98.528116  29.236642  44.913246  \n2015-12-04  34.910000  74.811286   99.708156  29.950942  46.165250  \n2015-12-07  34.680000  75.076578   99.569328  28.690998  45.618740  \n2015-12-08  34.849998  74.270881   98.944598  27.778283  45.648549  \n2015-12-09  34.400002  72.512124   99.162757  27.569946  44.923181  \n2015-12-10  34.630001  71.912769   99.133010  27.976700  45.807534  \n2015-12-11  32.910000  70.055752   98.131464  27.143351  45.539250  \n2015-12-14  32.590000  70.399642   98.657025  26.736598  46.294427  \n2015-12-15  33.029999  71.342889  100.213880  27.688995  46.672017  \n2015-12-16  33.779999  72.256660  101.076599  27.986619  46.791255  \n2015-12-17  33.230000  70.940040   99.866812  27.540183  46.433538  \n2015-12-18  32.950001  70.586322   98.131464  26.498497  46.304362  \n2015-12-21  32.970001  72.119103   99.390835  26.558023  47.039669  \n2015-12-22  34.189999  71.726082  100.878276  26.944934  47.417259  \n2015-12-23  34.450001  72.826540  101.909562  27.450896  47.675608  \n2015-12-24  34.110001  72.708631  102.048397  27.560025  47.824658  \n2015-12-28  33.599998  72.551420  101.393919  27.421133  47.596117  \n2015-12-29  34.040001  72.944441  102.129305  27.589787  48.023390  \n2015-12-30  33.369999  72.521945  101.831180  27.252479  47.953830  \n2015-12-31  33.259998  71.775213  101.950427  27.083825  47.615987  \n\n[252 rows x 496 columns]'

In [11]:
priceData.head()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,156.678596,43.160459,61.986410,86.129228,19.765196,139.234407,72.339996,158.132353,12.860543,87.354435,...,33.927597,13.191375,41.513829,32.998169,37.072501,50.169998,69.542301,110.963875,27.853656,42.723658
2015-01-05,153.145069,43.170070,60.819874,84.674997,19.490271,135.889914,71.980003,156.047994,12.494440,86.173965,...,33.542483,12.903563,40.752108,33.199318,34.765202,49.130001,68.129346,115.103219,26.810004,42.467175
2015-01-06,151.511999,42.679830,60.518833,84.064223,19.126976,134.187800,70.529999,155.938290,12.212822,86.301853,...,33.720953,12.730876,40.161775,33.362155,34.560759,49.209999,67.293113,114.127520,25.786046,42.052863
2015-01-07,152.610267,43.025880,62.964797,85.828689,18.714587,136.566769,71.110001,159.289228,12.231597,88.033197,...,34.012134,12.893969,40.180818,33.381309,34.833350,48.590000,69.523080,116.965922,26.032190,42.920947
2015-01-08,156.267949,43.910238,63.623323,87.137495,18.901144,141.344618,72.919998,160.685446,12.419342,90.885990,...,34.406643,13.248937,41.075840,33.927287,35.096207,50.230000,70.734178,118.207726,26.396482,43.581878

In [12]:
priceData.describe()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,...,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,151.240445,45.067555,59.532853,95.540953,27.351820,185.839553,80.967817,163.313504,11.452325,107.930044,...,33.192459,11.069191,42.454640,36.025538,34.701831,38.971944,78.129855,107.543330,28.180492,45.665167
std,7.107680,2.522206,4.742366,6.875068,5.686488,24.958500,6.373760,14.847493,1.288663,8.775297,...,1.329804,1.234858,3.035655,1.275883,1.549875,5.631780,7.133025,7.499312,1.982506,2.258266
min,133.969117,38.121817,46.901920,81.465997,18.213829,134.187800,69.989998,142.671386,8.562809,86.173965,...,30.564587,9.081719,36.734029,32.998169,29.885909,27.600000,65.847064,91.636308,23.501830,39.324541
25%,146.098763,43.318241,55.582699,90.824246,22.882658,166.476869,76.490002,151.131895,10.455896,104.172749,...,32.196438,10.100338,40.161342,35.395930,33.866610,33.460000,71.694150,101.314589,26.931264,43.978874
50%,152.868585,44.921188,59.153699,94.982332,25.408236,182.209625,79.825001,159.705316,11.926511,108.143008,...,33.028862,10.664143,41.758568,36.091841,34.888744,39.355002,77.018419,107.835618,27.954411,45.770399
75%,156.287518,47.124548,63.470802,101.395491,31.392041,201.155203,84.069998,173.011927,12.531814,114.007040,...,34.326218,12.388123,45.348611,36.777727,35.894561,43.884999,85.664143,114.208823,29.715322,47.099767
max,163.841622,49.970225,68.578266,108.674818,39.260511,239.748197,95.559998,200.062855,13.292200,131.110696,...,35.909463,13.431218,49.220191,39.467252,37.264386,50.230000,92.198695,120.001439,32.103599,54.831212

In [46]:
firstPrices =priceData.ix[0] # This is a "series" of first-day prices
print(type(firstPrices))
firstColumnPrices = priceData.ix[:,0] # First company by index
firstColumnPrices.head()

<class 'pandas.core.series.Series'>

Date
2015-01-02    156.678596
2015-01-05    153.145069
2015-01-06    151.511999
2015-01-07    152.610267
2015-01-08    156.267949
Name: MMM, dtype: float64

In [47]:
applePrices = priceData['AAPL'] # Get by column name
msftPrices = priceData['MSFT']
#print(applePrices)
#print(msftPrices)

In [49]:
# Create dataframe from series, then add another series
customPrices = applePrices.to_frame('AAPL')
customPrices = customPrices.join(msftPrices.to_frame('MSFT'))

customPrices.head()

                  AAPL       MSFT
Date
2015-01-02  105.698620  44.604322
2015-01-05  102.720920  44.194149
2015-01-06  102.730590  43.545497
2015-01-07  104.171098  44.098757
2015-01-08  108.173588  45.396060

In [16]:
# Normalise data by first price
pricesScaled = priceData.divide(priceData.ix[0]) 
pricesScaled.head()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2015-01-05,0.977447,1.000223,0.981181,0.983116,0.986090,0.975979,0.995024,0.986819,0.971533,0.986486,...,0.988649,0.978182,0.981651,1.006096,0.937763,0.979271,0.979682,1.037304,0.962531,0.993997
2015-01-06,0.967024,0.988864,0.976324,0.976024,0.967710,0.963755,0.974979,0.986125,0.949635,0.987950,...,0.993909,0.965091,0.967431,1.011030,0.932248,0.980865,0.967657,1.028511,0.925769,0.984299
2015-01-07,0.974034,0.996882,1.015784,0.996511,0.946846,0.980841,0.982997,1.007316,0.951095,1.007770,...,1.002492,0.977455,0.967890,1.011611,0.939601,0.968507,0.999724,1.054090,0.934606,1.004618
2015-01-08,0.997379,1.017372,1.026408,1.011706,0.956284,1.015156,1.008018,1.016145,0.965693,1.040428,...,1.014120,1.004364,0.989450,1.028157,0.946691,1.001196,1.017139,1.065281,0.947685,1.020088

In [17]:
# Plot
priceFig = pricesScaled.plot(legend=False,figsize=(6,4))
priceFig
# Save figure into working directory
#plt.savefig('stocks2015.png', bbox_inches='tight')

In [18]:
# Loop through companies
for index,company in enumerate(priceData.columns):
        print(company,index)

MMM 0
ABT 1
ABBV 2
ACN 3
ATVI 4
AYI 5
ADBE 6
AAP 7
AES 8
AET 9
AMG 10
AFL 11
A 12
APD 13
AKAM 14
ALK 15
ALB 16
AA 17
ALXN 18
ALLE 19
AGN 20
ADS 21
LNT 22
ALL 23
GOOGL 24
GOOG 25
MO 26
AMZN 27
AEE 28
AAL 29
AEP 30
AXP 31
AIG 32
AMT 33
AWK 34
AMP 35
ABC 36
AME 37
AMGN 38
APH 39
APC 40
ADI 41
ANTM 42
AON 43
APA 44
AIV 45
AAPL 46
AMAT 47
ADM 48
AJG 49
AIZ 50
T 51
ADSK 52
ADP 53
AN 54
AZO 55
AVGO 56
AVB 57
AVY 58
BHI 59
BLL 60
BAC 61
BCR 62
BAX 63
BBT 64
BDX 65
BBBY 66
BRK-B 67
BBY 68
BIIB 69
BLK 70
HRB 71
BA 72
BWA 73
BXP 74
BSX 75
BMY 76
BF-B 77
CHRW 78
CA 79
COG 80
CPB 81
COF 82
CAH 83
KMX 84
CCL 85
CAT 86
CBG 87
CBS 88
CELG 89
CNC 90
CNP 91
CTL 92
CERN 93
CF 94
SCHW 95
CHK 96
CVX 97
CMG 98
CB 99
CHD 100
CI 101
XEC 102
CINF 103
CTAS 104
CSCO 105
C 106
CFG 107
CTXS 108
CME 109
CMS 110
COH 111
CTSH 112
CL 113
CMCSA 114
CMA 115
CAG 116
CXO 117
COP 118
ED 119
STZ 120
GLW 121
COST 122
CCI 123
CSX 124
CMI 125
CVS 126
DHI 127
DHR 128
DRI 129
DVA 130
DE 131
DLPH 132
DAL 133
XRAY 134
DVN 135
DO 136
DLR 137
DFS 138
DISCA 139
DISCK 140
DG 141
DLTR 142
D 143
DOV 144
DOW 145
DPS 146
DTE 147
DD 148
DUK 149
DNB 150
ETFC 151
EMN 152
ETN 153
EBAY 154
ECL 155
EIX 156
EW 157
EA 158
EMC 159
EMR 160
ENDP 161
ETR 162
EOG 163
EQT 164
EFX 165
EQIX 166
EQR 167
ESS 168
EL 169
ES 170
EXC 171
EXPE 172
EXPD 173
ESRX 174
EXR 175
XOM 176
FFIV 177
FB 178
FAST 179
FRT 180
FDX 181
FIS 182
FITB 183
FSLR 184
FE 185
FISV 186
FLIR 187
FLS 188
FLR 189
FMC 190
FTI 191
FL 192
F 193
FBHS 194
BEN 195
FCX 196
FTR 197
GPS 198
GRMN 199
GD 200
GE 201
GGP 202
GIS 203
GM 204
GPC 205
GILD 206
GPN 207
GS 208
GT 209
GWW 210
HAL 211
HBI 212
HOG 213
HAR 214
HRS 215
HIG 216
HAS 217
HCA 218
HCP 219
HP 220
HSIC 221
HES 222
HOLX 223
HD 224
HON 225
HRL 226
HST 227
HPQ 228
HUM 229
HBAN 230
ITW 231
ILMN 232
IR 233
INTC 234
ICE 235
IBM 236
IP 237
IPG 238
IFF 239
INTU 240
ISRG 241
IVZ 242
IRM 243
JBHT 244
JEC 245
JNJ 246
JCI 247
JPM 248
JNPR 249
KSU 250
K 251
KEY 252
KMB 253
KIM 254
KMI 255
KLAC 256
KSS 257
KR 258
LB 259
LLL 260
LH 261
LRCX 262
LM 263
LEG 264
LEN 265
LUK 266
LVLT 267
LLY 268
LNC 269
LLTC 270
LKQ 271
LMT 272
L 273
LOW 274
LYB 275
MTB 276
MAC 277
M 278
MNK 279
MRO 280
MPC 281
MAR 282
MMC 283
MLM 284
MAS 285
MA 286
MAT 287
MKC 288
MCD 289
MCK 290
MJN 291
MDT 292
MRK 293
MET 294
KORS 295
MCHP 296
MU 297
MSFT 298
MHK 299
TAP 300
MDLZ 301
MON 302
MNST 303
MCO 304
MS 305
MSI 306
MUR 307
MYL 308
NDAQ 309
NOV 310
NAVI 311
NTAP 312
NFLX 313
NWL 314
NFX 315
NEM 316
NWSA 317
NWS 318
NLSN 319
NKE 320
NI 321
NBL 322
JWN 323
NSC 324
NTRS 325
NOC 326
NRG 327
NUE 328
NVDA 329
ORLY 330
OXY 331
OMC 332
OKE 333
ORCL 334
OI 335
PCAR 336
PH 337
PDCO 338
PAYX 339
PNR 340
PBCT 341
PEP 342
PKI 343
PRGO 344
PFE 345
PCG 346
PM 347
PSX 348
PNW 349
PXD 350
PBI 351
PNC 352
RL 353
PPG 354
PPL 355
PX 356
PCLN 357
PFG 358
PG 359
PGR 360
PLD 361
PRU 362
PEG 363
PSA 364
PHM 365
PVH 366
QRVO 367
QCOM 368
PWR 369
DGX 370
RRC 371
RTN 372
O 373
RHT 374
REGN 375
RF 376
RSG 377
RAI 378
RHI 379
ROK 380
COL 381
ROP 382
ROST 383
RCL 384
R 385
SPGI 386
CRM 387
SCG 388
SLB 389
SNI 390
STX 391
SEE 392
SRE 393
SHW 394
SIG 395
SPG 396
SWKS 397
SLG 398
SJM 399
SNA 400
SO 401
LUV 402
SWN 403
SE 404
STJ 405
SWK 406
SPLS 407
SBUX 408
HOT 409
STT 410
SRCL 411
SYK 412
STI 413
SYMC 414
SYF 415
SYY 416
TROW 417
TGT 418
TEL 419
TGNA 420
TDC 421
TSO 422
TXN 423
TXT 424
BK 425
CLX 426
KO 427
HSY 428
MOS 429
TRV 430
DIS 431
TMO 432
TIF 433
TWX 434
TJX 435
TMK 436
TSS 437
TSCO 438
TDG 439
RIG 440
TRIP 441
FOXA 442
FOX 443
TYC 444
TSN 445
USB 446
UDR 447
ULTA 448
UA 449
UNP 450
UAL 451
UNH 452
UPS 453
URI 454
UTX 455
UHS 456
UNM 457
URBN 458
VFC 459
VLO 460
VAR 461
VTR 462
VRSN 463
VRSK 464
VZ 465
VRTX 466
VIAB 467
V 468
VNO 469
VMC 470
WMT 471
WBA 472
WM 473
WAT 474
WFC 475
HCN 476
WDC 477
WU 478
WY 479
WHR 480
WFM 481
WMB 482
WEC 483
WYN 484
WYNN 485
XEL 486
XRX 487
XLNX 488
XL 489
XYL 490
YHOO 491
YUM 492
ZBH 493
ZION 494
ZTS 495

In [19]:
len(priceData.columns)

496

## 2. Stock Analysis
### 2.1 Analyse which stocks perform similarly over time
Our features are the daily stock prices, The year return is just not so procise. We need to analyse **daily stock price movements** and get the **daily return of the stock**

In [20]:
priceDailyReturn = pd.DataFrame.copy(priceData) # can't directly assign the priceData to priceDailyReturn dataframe
priceDailyReturn.iloc[:,:] = 0  # make the dataframe elements all to 0
# for loop for every row, shape[0] means row numbers, shape[1] means colums numbers
for i in range(1,int(priceDailyReturn.shape[0])):
    priceDailyReturn.iloc[i,:] = (priceData.iloc[i,:] - priceData.iloc[i-1,:]) / priceData.iloc[i-1,:]     
priceDailyReturn.to_csv("priveDailyReturn.csv")
priceDailyReturn.head()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-05,-0.022553,0.000223,-0.018819,-0.016884,-0.013910,-0.024021,-0.004976,-0.013181,-0.028467,-0.013514,...,-0.011351,-0.021818,-0.018349,0.006096,-0.062237,-0.020729,-0.020318,0.037304,-0.037469,-0.006003
2015-01-06,-0.010664,-0.011356,-0.004950,-0.007213,-0.018640,-0.012526,-0.020145,-0.000703,-0.022539,0.001484,...,0.005321,-0.013383,-0.014486,0.004905,-0.005881,0.001628,-0.012274,-0.008477,-0.038193,-0.009756
2015-01-07,0.007249,0.008108,0.040417,0.020989,-0.021561,0.017729,0.008223,0.021489,0.001537,0.020061,...,0.008635,0.012811,0.000474,0.000574,0.007887,-0.012599,0.033138,0.024870,0.009546,0.020643
2015-01-08,0.023967,0.020554,0.010459,0.015249,0.009969,0.034985,0.025453,0.008765,0.015349,0.032406,...,0.011599,0.027530,0.022275,0.016356,0.007546,0.033752,0.017420,0.010617,0.013994,0.015399

First, we describe the daily returns for all stocks in the data

In [21]:
pdr_describe = priceDailyReturn.describe()
pdr_describe

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,...,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,-0.000168,0.000178,-0.000093,0.000811,0.002789,0.002173,0.001146,-0.000009,-0.001134,0.000987,...,0.000198,-0.000758,0.000526,0.000639,-0.000019,-0.001441,0.000342,-0.000254,0.000041,0.000603
std,0.011636,0.013721,0.020014,0.012870,0.017507,0.015613,0.014766,0.019470,0.017846,0.018285,...,0.011881,0.017959,0.015408,0.010174,0.013108,0.019437,0.020380,0.012862,0.017464,0.018589
min,-0.060268,-0.072777,-0.103288,-0.053355,-0.063169,-0.048394,-0.058324,-0.154261,-0.086876,-0.065226,...,-0.049255,-0.087519,-0.061431,-0.035901,-0.062237,-0.076195,-0.188324,-0.047685,-0.046207,-0.122066
25%,-0.006604,-0.006618,-0.011308,-0.006258,-0.006138,-0.007628,-0.007258,-0.006503,-0.011945,-0.008872,...,-0.006656,-0.010464,-0.008938,-0.005863,-0.007078,-0.011532,-0.008299,-0.007809,-0.009895,-0.008379
50%,0.000234,0.000099,0.001177,0.000618,0.002506,0.001506,0.002456,0.000663,-0.000447,0.001928,...,0.001435,-0.000378,0.000559,0.000965,-0.001103,-0.001913,-0.000437,-0.000135,0.000000,0.000100
75%,0.006016,0.008361,0.010136,0.007365,0.011021,0.011010,0.009962,0.008110,0.009801,0.011526,...,0.008593,0.009967,0.009210,0.006438,0.008422,0.010028,0.009643,0.007122,0.011570,0.008861
max,0.041249,0.042617,0.100739,0.067566,0.118426,0.071632,0.037586,0.111417,0.057490,0.046229,...,0.031543,0.065489,0.067132,0.031662,0.034612,0.062262,0.069102,0.071523,0.067133,0.114062

Then we find the company with the minimum and maximum daily return

In [22]:
#find the maximum daily return
print('The maximum daily return company is ' + pdr_describe.loc['max'].idxmax())
print(pdr_describe.loc['max'].max())
#find the minimum daily return
print('The minimum daily return company is ' + pdr_describe.loc['min'].idxmin())
print(pdr_describe.loc['min'].min())

The maximum daily return company is FCX
0.286616201466
The minimum daily return company is PWR
-0.285005695727

In [23]:
#find the overall best company
print('The overall best company is ' +pdr_describe.loc['mean'].idxmax())
print(pdr_describe.loc['mean'].max())
#find the overall worst company
print('The overall worst company is ' +pdr_describe.loc['mean'].idxmin())
print(pdr_describe.loc['mean'].min())

The overall best company is NFLX
0.00378946264328
The overall worst company is CHK
-0.0049070365421

In [24]:
#find the most volatility company
print('The most volatility company is ' + pdr_describe.loc['std'].idxmax())
print(pdr_describe.loc['std'].max())
#find the least volatility company
print('The least volatility company is ' + pdr_describe.loc['std'].idxmin())
print(pdr_describe.loc['std'].min())

The most volatility company is FCX
0.0439840636135
The least volatility company is KO
0.00904486717773

## 2. Correlation
The calculation of each correlation was completed in the previous part. Using that data, we started with assinging the firm names and correlation into a pandas dataframe.

In [25]:
filename2 = 'SP_500_firms.csv'
firms = pd.read_csv(filename2)
firms.head()
#priceDailyReturnName = priceDailyReturn.coclumns
#priceDailyReturn.columns = list(firms['Name'])
#priceDailyReturn.columns

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    ABT  Abbott Laboratories             Health Care
2   ABBV               AbbVie             Health Care
3    ACN        Accenture plc  Information Technology
4   ATVI  Activision Blizzard  Information Technology

In [26]:
cor_price = priceDailyReturn.corr() # for pairwise correlation of dataframe columns
cor_price.head(7)

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
MMM,1.000000,0.598665,0.322637,0.632050,0.418519,0.450872,0.468745,0.257132,0.335379,0.317369,...,0.409629,0.499817,0.507627,0.543725,0.623740,0.316707,0.356203,0.433634,0.486263,0.293895
ABT,0.598665,1.000000,0.483668,0.644078,0.434357,0.494303,0.585668,0.371080,0.450206,0.464380,...,0.453393,0.538238,0.507487,0.619808,0.567308,0.376218,0.388071,0.640906,0.512479,0.463926
ABBV,0.322637,0.483668,1.000000,0.318048,0.226854,0.269083,0.347331,0.292497,0.303988,0.419361,...,0.261255,0.291590,0.323336,0.267432,0.321926,0.307018,0.289727,0.508626,0.323670,0.406245
ACN,0.632050,0.644078,0.318048,1.000000,0.462558,0.481309,0.560768,0.303224,0.395808,0.401344,...,0.388994,0.531869,0.510195,0.563160,0.615344,0.431342,0.353530,0.461179,0.546650,0.414054
ATVI,0.418519,0.434357,0.226854,0.462558,1.000000,0.310525,0.482797,0.223472,0.198081,0.285139,...,0.295286,0.369710,0.398587,0.388844,0.396983,0.365830,0.330461,0.370655,0.346774,0.323145
AYI,0.450872,0.494303,0.269083,0.481309,0.310525,1.000000,0.341863,0.281292,0.311834,0.322694,...,0.292764,0.443355,0.403896,0.478268,0.456437,0.330368,0.231670,0.373889,0.292102,0.306795
ADBE,0.468745,0.585668,0.347331,0.560768,0.482797,0.341863,1.000000,0.291740,0.283060,0.403982,...,0.339726,0.461567,0.460718,0.492877,0.476534,0.313914,0.482703,0.409579,0.445168,0.377819

Here we build our own correlation function to check the result above

In [27]:
def callCor(vec1, vec2):
    """
    input: two vector array
    output: the correlation scores
    """
    vec_idx = range(len(vec1)) # the length of vector
    
    vec1_sum = sum([vec1[i] for i in vec_idx]) # the sum of vector1
    vec2_sum = sum([vec2[i] for i in vec_idx]) # the sum of vector2
    
    vec1_square_sum = sum([pow(vec1[i], 2) for i in vec_idx]) # the sum of vector1 square
    vec2_square_sum = sum([pow(vec2[i], 2) for i in vec_idx]) # the sum of vector2 square
    
    product_sum = sum([vec1[i] * vec2[i] for i in vec_idx]) # the sum of product of vector1 and vector 2
    
    numerator = len(vec1) * product_sum - vec1_sum * vec2_sum
    denominator = (len(vec1) * vec1_square_sum - vec1_sum ** 2)**0.5 * (len(vec1) * vec2_square_sum - vec2_sum ** 2)**0.5
    
    if denominator == 0:
        return 0
    
    result = numerator / denominator
    
    return result

callCor(priceDailyReturn.iloc[:,0],priceDailyReturn.iloc[:,1])

0.59866496204887343

In [29]:
def dfCor(df):
    """
    input: dataframe
    output: the pairwise correlation of dataframe
    """
    colname = list(df.columns) # the column name of dataframe
    
    data = pd.DataFrame(np.zeros([len(colname), len(colname)]), columns= colname, index= colname)
    
    for i in colname:
        for j in colname:
            data.loc[i,j] = callCor(df[i],df[j])
    
    return data

dfCor(priceDailyReturn)

KeyboardInterrupt:

After getting all the tables, we created functions to call the full name of a company using its ticker only. There are two ways that we explored in this part. Firstly, the names and the correlation were taken from 2 different tables using a `callName` function and `callCor` function. Secondly, the two tables loaded in the console were merged together to get one table with all the information needed. Then, `callName2` function was created to smoothen the merging. Then, `callCor2` was defined to get the correlation and both names of the companies.

In [30]:
def callName(n):
    x = firms[firms.Symbol == str(n)].Name.item()
    return str(x)
callName('ABT')

'Abbott Laboratories'

In [31]:
def callName2(n):
    x = namesDict[n][0]
    return x
callName2('ABT')

'Abbott Laboratories'

In [32]:
def callCor(a, b):
    cor = cor_price[a][b]
    print('The correlation between %s and %s is %s' % (callName(a), callName(b), cor))

callCor('ABT', 'AYI')

The correlation between Abbott Laboratories and Acuity Brands Inc is 0.494302519137

In [33]:
# Merge the name of each company into price dataframe
cor_price_name = cor_price.copy()
cor_price_name['Name'] = ""

for i in list(cor_price_name):
    if i == 'Name':
        pass
    else:
        cor_price_name.set_value(i, 'Name', callName2(i))

cor_price_name.head()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS,Name
MMM,1.000000,0.598665,0.322637,0.632050,0.418519,0.450872,0.468745,0.257132,0.335379,0.317369,...,0.499817,0.507627,0.543725,0.623740,0.316707,0.356203,0.433634,0.486263,0.293895,3M Company
ABT,0.598665,1.000000,0.483668,0.644078,0.434357,0.494303,0.585668,0.371080,0.450206,0.464380,...,0.538238,0.507487,0.619808,0.567308,0.376218,0.388071,0.640906,0.512479,0.463926,Abbott Laboratories
ABBV,0.322637,0.483668,1.000000,0.318048,0.226854,0.269083,0.347331,0.292497,0.303988,0.419361,...,0.291590,0.323336,0.267432,0.321926,0.307018,0.289727,0.508626,0.323670,0.406245,AbbVie
ACN,0.632050,0.644078,0.318048,1.000000,0.462558,0.481309,0.560768,0.303224,0.395808,0.401344,...,0.531869,0.510195,0.563160,0.615344,0.431342,0.353530,0.461179,0.546650,0.414054,Accenture plc
ATVI,0.418519,0.434357,0.226854,0.462558,1.000000,0.310525,0.482797,0.223472,0.198081,0.285139,...,0.369710,0.398587,0.388844,0.396983,0.365830,0.330461,0.370655,0.346774,0.323145,Activision Blizzard

In [34]:
def callCor2(a, b):
    cor = cor_price_name[a][b]
    name_a = cor_price_name['Name'][a]
    name_b = cor_price_name['Name'][b]
    print('The correlation between %s and %s is equal to %s' % (name_a, name_b, cor))
    
callCor2('ABBV', 'ACN')

The correlation between AbbVie and Accenture plc is equal to 0.318047748008

We ran both correlation calling functions using `%timeit` and the result is the `callCor2` with the merged table was faster with fastest time of 41.1 µs per loop, while `callCor` took approximately 1.38 ms, which is way slower.

In this part we explored the highest and lowest correlation of each company. Using `describe()` function we get the summary of each column. Using those informations, a new table containing the company ticker and their lowest and highest correlation with their corresponding tickers.

In [35]:
cor_price.describe()

,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AAP,AES,AET,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
count,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,...,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000
mean,0.461465,0.502471,0.318588,0.485292,0.342000,0.358049,0.407217,0.286596,0.338180,0.337362,...,0.337608,0.423734,0.404635,0.449822,0.470841,0.306327,0.299765,0.398030,0.417373,0.306473
std,0.120494,0.114988,0.085071,0.118383,0.095141,0.086053,0.108851,0.082113,0.085109,0.105296,...,0.163069,0.098588,0.094782,0.117506,0.120059,0.088284,0.086804,0.097566,0.159499,0.093307
min,0.161831,0.165613,0.075441,0.158036,0.003083,0.110716,0.031734,-0.031248,0.083691,0.017283,...,0.029882,0.145285,0.152021,0.121672,0.161702,0.045175,0.018138,0.148654,0.030176,0.039721
25%,0.383004,0.421799,0.267029,0.396349,0.290686,0.300497,0.340668,0.236980,0.285399,0.280438,...,0.236055,0.350543,0.342716,0.365252,0.381844,0.260932,0.252634,0.335236,0.321455,0.242796
50%,0.466096,0.512526,0.314621,0.486101,0.347423,0.362478,0.414762,0.288885,0.342235,0.336069,...,0.305559,0.430159,0.405600,0.455105,0.474097,0.308786,0.310659,0.396175,0.415606,0.306866
75%,0.546741,0.584136,0.363310,0.577805,0.407418,0.414250,0.486107,0.344370,0.397316,0.395577,...,0.399817,0.497980,0.469120,0.532872,0.556206,0.365374,0.356226,0.466059,0.500168,0.363110
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
#find the bottom correlated companies
cor_bottom = cor_price.abs().idxmin(axis=0)
cor_bottom = pd.DataFrame(cor_bottom, columns = ["cor_bottom"])
#find the bottom correlation coefficients
cor_coe = cor_price.abs().min(axis=0)
cor_coe = pd.DataFrame(cor_coe, columns = ["cor_bot_coe_abs"])
#join the bottom correlation company and coefficients together
result = cor_bottom.join(cor_coe)
result.head()

     cor_bottom  cor_bot_coe_abs
MMM         NEM         0.161831
ABT         NRG         0.165613
ABBV        NEM         0.075441
ACN         NEM         0.158036
ATVI        PWR         0.003083

In [38]:
#find the top correlated company
#first replace the correlation 1 to 0 to find the top correlated company
cor_modify = cor_price.replace(1,-1)
cor_top = cor_modify.idxmax(axis=0) 
cor_top = pd.DataFrame(cor_top, columns = ["cor_top"])
top_coe = cor_modify.max(axis=0)
top_coe = pd.DataFrame(top_coe, columns = ["top_coe"])
result2 = cor_top.join(top_coe)
result2.head()

     cor_top   top_coe
MMM      ITW  0.768481
ABT      MMC  0.737158
ABBV     TMO  0.575175
ACN      MMC  0.725520
ATVI      EA  0.561049

In [39]:
# Then we combine the top and bottom company together 
related = result.join(result2)
related.head()

     cor_bottom  cor_bot_coe_abs cor_top   top_coe
MMM         NEM         0.161831     ITW  0.768481
ABT         NRG         0.165613     MMC  0.737158
ABBV        NEM         0.075441     TMO  0.575175
ACN         NEM         0.158036     MMC  0.725520
ATVI        PWR         0.003083      EA  0.561049

The maximum and minimum correlation table was created. Thus, we could find the correlation of five tech companies, i.e. Amazon, Microsoft, Facebook, Apple and Google. The tickers of these companies are AMZN, MSFT, FB, AAPL, and GOOG/GOOGL (Google has two for Class A and Class C shares) respectively.

In [40]:
techCor = related.ix[['AMZN', 'MSFT', 'FB', 'AAPL', 'GOOG', 'GOOGL'],:]
techCor

      cor_bottom  cor_bot_coe_abs cor_top   top_coe
AMZN        SRCL         0.056440   GOOGL  0.585572
MSFT        SRCL         0.028884     MMC  0.604546
FB           NEM         0.002831    FISV  0.619677
AAPL         RRC         0.112708     ITW  0.601265
GOOG        SRCL         0.017145   GOOGL  0.989365
GOOGL        RIG         0.009515    GOOG  0.989365

In [41]:
for j in list(techCor.index):
    callCor2(j, techCor.ix[j,0])
    callCor2(j, techCor.ix[j,2])

The correlation between Amazon.com Inc and Stericycle Inc is equal to 0.0564404668271
The correlation between Amazon.com Inc and Alphabet Inc Class A is equal to 0.585572457937
The correlation between Microsoft Corp. and Stericycle Inc is equal to 0.0288841252305
The correlation between Microsoft Corp. and Marsh & McLennan is equal to 0.604546183629
The correlation between Facebook and Newmont Mining Corp. (Hldg. Co.) is equal to -0.00283066410658
The correlation between Facebook and Fiserv Inc is equal to 0.619677467282
The correlation between Apple Inc. and Range Resources Corp. is equal to 0.112708151299
The correlation between Apple Inc. and Illinois Tool Works is equal to 0.601265458624
The correlation between Alphabet Inc Class C and Stericycle Inc is equal to 0.0171445946964
The correlation between Alphabet Inc Class C and Alphabet Inc Class A is equal to 0.989365335424
The correlation between Alphabet Inc Class A and Transocean is equal to 0.0095152561825
The correlation between Alphabet Inc Class A and Alphabet Inc Class C is equal to 0.989365335424

We obtained the maximum and minimum correlation of the 5 technology companies. Google who trades with two tickers (GOOG and GOOGL) will always be highly correlated to each other since the two stocks are essentially identical despite the difference in voting rights. However, their lowest correlation are different although both companies comes from a different industry. Two tech giants, Amazon Inc and Google stocks have relatively high correlation to each other with a correlation of 0.59, which is not too surprising since they released almost the same products recently.

The biggest surprise might come from Apple that was closely related to Illinois Tool Works (ITW), a manufacturing company. However, ITW also produces small electronic components, which made the correlation less surprising. Moreover, Facebook's maximum correlation came from a company called Fiserv, a financial technology company. Online payment might be an area that Facebook looking to explore, which could make sense of the correlation. Interestingly, the majority of the Tech companies had their lowest correlation against companies operating in natural resources, especially Oil and Gas.

# 3. Clustering algorithm

In [ ]:
cor_price_graph = cor_price.copy()
cor_price_graph.head()

In [ ]:
for i in range(0,cor_price_graph.shape[0]):
    for j in range(i,cor_price_graph.shape[1]):
            cor_price_graph.iloc[j,i] = 0
cor_price_graph.head()

In [ ]:
#save the graph to csv file
cor_price_graph.to_csv('cor_price_graph.csv')

** 1.Represent the edge**

In [ ]:
edge = [] # make the edge a list so that we can sort it more conveniently
for i in cor_price_graph.columns[0:cor_price_graph.shape[0]]:
    for j in cor_price_graph.index[0:cor_price_graph.shape[1]]:
        if(cor_price_graph[i][j] == 0):
            pass
        else:
            t = (i,j,cor_price_graph[i][j])  # denote the edge with (source, destination, weight)
            edge.append(t)

In [ ]:
len(edge)

so there are 122760 edges in total

In [ ]:
# sorted the edge by weight(correlation)
edge_sorted = sorted(edge, key = lambda edge: edge[2], reverse=True)
edge_sorted

** 2. Model the sets of nodes**

First, initialize each node points to itself

In [ ]:
nodePointers = {}
length = cor_price_graph.shape[0]
for i in cor_price_graph.columns[0:length]:
    nodePointers[i] = i
nodePointers

In [ ]:
set_dict = {}
for i in cor_price_graph.columns[0:3]:
    set_dict[i] = i
set_dict

In [ ]:
for i in cor_price_graph.columns[0:3]:
    print(type(i))